$fontSz-xl: 34px;
$fontSz-l: 26px;
$fontSz-m: 20px;
$fontSz-s: 16px;
$fontSz-xs: 12px;
$colorBlack: rgba(26, 26, 26, 1);
$colorWhite: rgba(255, 255, 255, 1);
$colorRed: rgba(234, 70, 70, 1);
$breakpoint__xl: 1366px;
$breakpoint__md: 768px;
$breakpoint__sm: 320px;
