.about-fest {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 27px 0 23px;
  margin-bottom: 44px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 28px;
  }

  &__info {
    text-align: center;
    font-size: 12px;
    margin-bottom: 43px;
    color: rgba(88, 89, 92, 1);
  }

  &__data {
    margin-bottom: 5px;
  }

  &__place {
    margin-bottom: 14.5px;
  }

  &__location {
    display: flex;
    align-items: center;
    margin-bottom: 18px;

    &::before {
      content: '';
      background-image: url(../img/geo-icon.svg);
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 13px;
    }
  }

  &__time {
    margin-bottom: 15.5px;
  }

  &__title-time {
    display: flex;
    align-items: center;
    font-weight: 700;

    &::before {
      content: '';
      background-image: url(../img/time-icon.svg);
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 13px;
    }
  }

  &__timing {
    text-align: start;
    margin-left: 33px;
  }

  &__articles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 44px;
  }

  &__participants {
    min-width: 100%;
  }
}

@include tablet {
  .about-fest {
    padding: 50px 53px 0 20px;

    &__wrapper {
      flex-direction: row;
      align-items: flex-start;
      gap: 25px;
    }

    &__info {
      min-width: 223px;
      padding: 0;
    }

    &__data,
    &__place {
      text-align: left;
    }

    &__btn-cta {
      margin-top: 20px;
      margin-left: -70px;
    }

    &__articles {
      min-width: 289px;
      padding-left: 20px;
      border-left: 1px black solid;
    }

    &__participants {
      min-width: 150px;
    }
  }
}

@include desktop {
  .about-fest {
    padding: 0;
    padding-top: 100px;

    &__wrapper {
      max-width: 1054px;
      gap: 124px;
    }

    // padding: 100px 27px 108px 240px;

    // padding-left: 240px;
    // padding-right: auto;
  }
}
