.btn-more {
  @include reset-link;
  display: flex;
  align-items: center;
  color: $colorRed;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  height: 13.56px;

  &::after {
    content: '';
    background-image: url(../img/arrow-icon.svg);
    display: inline-block;
    width: 20.5px;
    height: 13.56px;
    margin-left: 5px;
  }
}

@include tablet {
}

@include desktop {
}
