.btn-cta {
  @include reset-link;
  display: inline-block;
  padding: 10px 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: $colorWhite;
  background-color: $colorRed;
}

@include tablet {
  .btn-cta {
    margin-top: 46px;
  }
}

@include desktop {
  .btn-cta {
    margin-top: 40px;
  }
}
