.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d7d6d6;

  &__title {
    margin-top: 36px;
    margin-bottom: 34px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--lecture {
      background-color: #ffffff;
      margin-bottom: 35px;
      margin-left: 16px;
      margin-right: 10px;
    }
  }

  &__subtitle {
    display: block;
    color: #ffffff;
    background-color: #272727;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  &__btn-cta {
    align-self: center;
    margin-bottom: 42px;
  }
}

@include tablet {
  .events {
    margin: 0;
    padding: 0 22px;

    &__wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0;
    }

    &__items {
      flex-basis: 50%;

      &--lecture {
        margin-left: 0;
        margin-bottom: 0;
        min-height: 582px;
      }
    }

    &__btn-cta {
      margin-top: 25px;
      margin-bottom: 53px;
    }
  }
}

@include desktop {
  .events {
    padding-left: 240px;
    padding-right: 241px;

    &__content {
      display: flex;
      flex-direction: row;
    }

    &__items {
      &--lecture {
        margin-top: 0;
        justify-content: flex-start;
        min-height: 600px;
      }
    }

    &__wrapper {
      flex-basis: 55%;
    }
  }
}
