.promo {
  display: flex;
  flex-direction: column;
  background: url('../img/banner.jpeg') no-repeat center;
  background-size: cover;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 15px 223px 15px;
  }

  &__title {
    padding: 5px 20px;
    margin: 0;
    width: fit-content;
    font-size: 26px;
    color: $colorWhite;
    text-transform: uppercase;
    background-color: $colorBlack;
  }

  &__description {
    &--hidden {
      display: none;
    }
  }

  &__info {
    padding: 5px 20px;
    width: fit-content;
    background-color: $colorWhite;
  }

  &__data,
  &__place {
    color: $colorRed;
  }

  &__btn-cta {
    margin-top: 21.5px;
    margin-left: 8px;
  }
}

@include mobile {
  .promo {
    background-position: 0 64%;

    &__title {
      font-size: 30px;
    }
  }
}

@include tablet {
  .promo {
    &__wrapper {
      padding: 34px 0px 134px 58px;
    }

    &__title {
      font-size: 38px;
    }

    &__description {
      display: flex;
      padding: 5px 20px;
      margin: 5px 0px;
      width: fit-content;
      font-size: $fontSz-s;
      color: $colorWhite;
      background-color: $colorBlack;
    }
  }
}

@include desktop {
  .promo {
    &__wrapper {
      padding: 59px 0px 275px 366px;
    }

    &__title {
      font-size: 38px;
    }

    &__description {
      font-size: 20px;
    }

    &__data {
      font-size: 20px;
      font-weight: 700;
    }

    &__place {
      font-size: 14px;
    }
  }
}
